

/* 
-----------BRANDS COLORS-----------
#050517 --- DARK 
#CF5C36 --- FLAME
#EFC88B --- SUNSET
#F4E3B2 --- VANILLA
#D3D5D7 --- PLATINIUM
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: name;
    src: url(./Italianno/Italianno-Regular.ttf);
}

body{
    background-color: #1D2D44;
}
.header{
    width: 100%;
    background-color: #050517;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.navigation{
    width: 80%;
    margin: auto;
}
.nav__list{
    display: flex ;
    justify-content: space-evenly;    
}
.nav__list .nav__item{
    list-style: none;
}
.nav__list .nav__item:hover{
    scale: 1.5;
    transition: all ease-in-out 0.7s;


}
.nav__list .nav__item a:hover{
    color: aqua;
    transition: all ease-in-out 0.7s;
}
.nav__list .nav__item a{
    color: #D3D5D7;
    text-decoration: none;
}
h1,h2,h3,p{
    color: #D3D5D7 ;
    text-align: center;
}

h2{
    font-family: name;
    font-size: 2rem;
}
.gallery__wrapper{
    max-width: 1200px;
    width: 80%;
    margin: auto;
    background-color: #D3D5D7;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4 , minmax(50px, 1fr)) ;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 15px;
}
.gallery__item{
    width: 100%;
}
.gallery__img{
    border-radius: 15px;
    object-fit: cover;
}

/*------------- QUERIES -------------*/

@media (max-width: 480px) {
    .gallery{
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(4, 1fr);
    }
}
@media (min-width: 480px) and (max-width: 769px) {
    .gallery{
        grid-template-columns: repeat(2, minmax(0px,1fr));
        grid-template-rows: repeat(2, minmax(0px,1fr) );
    }
    .gallery__item{
        width: 100%;
    }
    
}
@media (min-width: 769px) and (max-width:1025px) {

}
@media (min-width: 1025px) {

}